/*-----css - styles----*/


/* nav bar */

.header {
  display: block;
}

.header .navbar {
  background-color: #07142a;
  border-radius: 0;
  border: none;
  min-height: 70px;
  margin-bottom: 0;
}

.logo {
  height: 70px;
  float: left;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  height: 50px;
}

.btn.btn-primary .btn-outline {
  color: #d3203e;
  background: 0 0;
}

.header-btn-set {
  margin-top: 13px;
}

.header-buttton {
  background-color: #07142a;
  border-color: #d3203e;
  transition: all .5s ease;
  padding: 10px 32px;
  color: #d3203e;
  border-color: #d3203e;
  padding: 10px 32px;
  border-radius: 0px;
}

.header-buttton:hover {
  background-color: #d3203e;
  border-color: #d3203e;
  transition: all .5s ease;
  padding: 10px 32px;
  color: #fff;
  border-color: #d3203e;
  padding: 10px 32px;
  border-radius: 0px;
}

.header-buttton-reg {
  background-color: #d3203e;
  border-color: #d3203e;
  transition: all .5s ease;
  padding: 10px 32px;
  color: #fff;
  border-color: #d3203e;
  padding: 10px 32px;
  border-radius: 0px;
  margin-left: 20px;
}

@media only screen and (max-width: 500px) {
  .header-btn-set {
    margin-top: -37px;
    margin-right: 5px;
  }
}

/*  main banner */
.main-banner{
    background: url(../images/banner1.png) no-repeat;
    height: 250px;
    width: 100%;
    background-size: cover;

 }

 @media only screen and (max-width: 500px) {
  .main-banner {
    background: url(../images/banner1.png) no-repeat;
    height: 184px;
    background-position: right;
    background-size: cover;
  }
  .main-banner-text {
    font-size: 20px !important;
    text-align: center  !important;
    width: 50% !important;
    margin-top: 60px  !important;
    align-items: center;
  }
}

 .main-banner-text{
   display: inline-block;
   color: #fff;
   font-size: 30px;
   font-weight: 700;
   text-transform: uppercase;
   width: 26%;
   margin-top: 80px;
 }

 /* text banner */

.text-banner{
  height: 240px;
  background-color: #fff;
}

.text-banner-content{
  text-align: center;
}

.text-banner-title {
  font-size: 2.25em;
  font-family: 'DINPro-Regular';
  display: inline-block;
  width: 63%;
  margin-top: 53px;
  font-weight: 700;
}

@media only screen and (max-width: 500px) {
  .text-banner-title {
    font-size: 2.25em;
    font-family: 'DINPro-Regular';
    display: inline-block;
    width: 100%;
    margin-top: 53px;
    font-weight: 700;
  }
}

@font-face {
  font-family: 'DINPro-Regular';
  src: url('../fonts/DINPro-Regular.otf');
  font-style: normal;
}


/* footer */

footer {
    background-color: #081323;
    padding: 42px 0 10px 0;
    color: #fff;
    font-size: 14px;
}

.logo-footer{
    float: left;
    margin-right: 30px;
}

.text-copyrights{
  float: left;
  margin-right: 15px;
  margin-top: 5px;
}

.footer-tabs {
  margin-bottom: 0;
  float: left;
  padding: 0;
  list-style: none;
  margin-top: 5px;
}
footer .footer-tabs li {
    float: left;
    position: relative;
  }

  footer .footer-tabs li a {
    color: #68788c;
    font-size: 14px;
    padding: 0 12px;
    display: block;
    position: relative;
}

@media only screen and (min-width: 500px) {
  footer .footer-tabs li a:before {
    content: "/";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
  }
}

.social-media {
  float: right;
}

.fb {
  margin-left: 20px;
  color: #68788c;
}

.fb-img{
  margin-right: 10px;
  vertical-align: middle;
  border: 0;
}


.twitter {
  margin-left: 20px;
  color: #68788c;
}

.twitter-img{
  margin-right: 10px;
  vertical-align: middle;
  border: 0;
}

@media only screen and (max-width: 500px) {
  .social-media {
    float: left;
    margin-top: 10px;
  }
  .logo-footer {
    margin-left: 18px;
  }
  footer .footer-tabs li {
    display: block;
    float: left;
    margin-right: 100px;
  }
  .footer-tabs {
    margin-bottom: 0;
    /* margin-top: 10px; */
    margin-left: 8px;
    float: left;
    padding: 7px;
    list-style: none;
    margin-top: 5px;
}

.text-copyrights {
    float: right;
    margin-right: 29px;
    margin-top: 5px;
}

}
